<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>彪哥.TOP 导航网</title>
	<meta name="Robots" content="All" />
	<meta name="Distribution" content="Global" />
	<meta name="revisit-after" content="1 days" />
	<meta name="Author" content="xy88888@88.com" />
	<meta http-equiv="windows-Target" content="_top"/>
	<meta itemprop="name" content="彪哥.TOP | 导航网">
	<meta http-equiv='content-language' content='zh-CN'>
    <meta itemprop="image" content="index/img/logo.ico">
	<link rel="shortcut icon" href="style/image/logo.ico"/>
	<meta name="Coptright" content="Created By 彪哥.top" />
	<meta name="description" content="专业导航与技术博客站点" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="360-site-verification" content="de2cfb414d569741551cbd8c4b0b901c" /><meta name="keywords" content="彪哥.top,TOP·博客,简域云盘,网络2101,导航,学习笔记,TOPblog,TOP博客" />
        <meta itemprop="description" content="专业导航与技术博客站点,包含TOP博客、图片收集表、简域云盘、聊天室">
	<script src="./style/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="./style/css/element-ui.css">
	<link rel="stylesheet" href="./style/css/animate.min.css" />
	<link rel="stylesheet" href="./style/css/index.css?v=15" />
	<link rel="stylesheet" href="./style/css/wser.css?v=2" />
	<script src="./style/js/element-ui.js"></script>
	<script src="./style/js/axios.min.js"></script>
</head>
<body>
<div id="app">
	<div class="top">
		<div class="logo">
			<img src="style/image/toplogo.png" alt="logo"/>
		</div>
		<div class="topnev">
		<dd v-for="(i,j) in topdata" class="topnev-dd">
			<a :href="j=='TOP博客'?'/note/':(j=='简域云盘'?'/wp/':null)" target="_blank"><h3 v-text="j"></h3></a>
			<ul v-if="i.info[1]>=2"  class="topnev-ul">
				<li v-for="(x,y) in i" v-if="y!=='info'" @click="open(x)" v-html="y"></li>
			</ul>
		</dd>
		</div>
		<div class="logon"> <div class="userpic" @click="logon"> <img :src="logonpic"/> </div></div>
	</div>

<div class="top-and-so">
	<div class="so">
		<div class="titlename  animated zoomIn"> <h1>TOP 导航网</h1> </div>
		<div class="so animated zoomIn">
			<div class="so-input">
				<li class="so-li">
				<input type="text" placeholder="请输入搜索关键词" aria-label="搜索" autofocus="" v-model="somsg" @keyup.enter="postso" @input="viewso">
				</li>
				<li v-if="somsg"><img src="style/image/mode.png" alt="超级搜索" @click="sosuper"/></li>
				<li><img src="style/image/so.png" alt="搜索" @click="postso"/></li>
			</div>
			<ul v-if="searchResults" class="viwemsg">
				<dd v-for="(x,y) in searchResults"> <a target="_blank" :href="x.url">{{ x.name }}<tt>{{ x.des }}</tt></a> </dd>
			</ul>
		</div>
	</div>
	<div class="susp">
			<i class="el-icon-postcard" @click="drawer = true"></i>
			<!-- <i class="el-icon-date"></i>
			<i class="el-icon-cloudy-and-sunny"></i>
			<i class="el-icon-headset"></i> -->
	</div>
</div>

<el-drawer
  title="今日热点"
  :visible.sync="drawer"
  direction="ltr"
  size="50%"
  :with-header="false">
  <img style="width: 100%;height: auto;" src="https://zj.v.api.aa1.cn/api/60s-v2/?cc=%E5%BD%AA%E5%93%A5.top" alt="new" />
</el-drawer>


<div class="main-nev ">
<div class="nev-list" v-for="(item,index) in nevdata">
	<div class="nev-type">
		<div class="nev-type-name">
			<b :id="'nev'+item.info[2]" v-text="index"></b> 
			<li v-text="item.info[3]"></li>
		</div>
	</div>
	<div class="nev-li">
		<div class="nev-a" v-for="(nev,echo) in item" v-if="echo !== 'info'"><a target="_blank" :href="nev[1]">
			<div class="nevinfo">
				<li :id="'name'+nev[2]" v-text="echo"></li> 
				<tt v-text="nev[3]"></tt>
			</div>
			<div class="nev-pic"> <span :id="'nev'+nev[2]" v-text="nev[0]"></span> </div>
			</a></div>
		</div>
	</div>
</div>



<div class="bottom">Copyright © 2019-2025 彪哥.TOP. All rights reserved.<a href="https://beian.miit.gov.cn/" target="_blank">ICP备案编号 - 湘ICP备2022007847号</a></div>
</div>
<script src="./style/js/index.js?v=1716779496351" type="text/javascript" charset="utf-8"></script>
<script>
    console.log('\n\
          ／＞　　フ\n\
          | 　_　_|\n\
　 　　　／` ミ＿xノ\n\
　　 　 /　　　 　 |\n\
　　　 /　 ヽ　　 ﾉ\n\
　 　 │　　|　|　|\n\
　／￣|　　 |　|　|\n\
　| (￣ヽ＿_ヽ_)__)\n\
　＼二つ彪哥.TOP，技术成就未来！\n\
　————————————————————————————————\n\
　加入我们:https://彪哥.top/job/'); 
</script>
</body>
</html>
