*{/* 全局标签 */
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{/* 全局容器 */
	background-color: #dddddd;
	background:url(https://xn--kwrr8v.top/admin/css/upd5.jpg)center no-repeat;
	background-size: 100% 100%;
}
a{/* 全局a标签 */
	text-decoration:none;
	color: #000000;
}
img{
	border-radius: 5px;
}


#center{
	display: flex;
	margin-bottom: 50px;
}
.left{
	max-width: 360px;
	min-width: 260px;
	padding: 30px 5px 10px 50px;
}
#top{
	display: flex;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 5px 5px 10px rgba(100,100,100,0.5);
	backdrop-filter: blur(3px); 
	border-radius: 10px;
	height: 80px;
	z-index: 0;
}
#top img{/* logo */
	height: 40px;
	line-height: 50px;
	z-index: 0;
}
#login{
	padding: 15px 5px 15px 15%;
	
}
#login-user{
	display: flex;
}
#login-user img{/* QQ头像 */
	width: 50px;
	height: 50px;
}
#login-name{
	padding-top: 5px;
	margin-left: 20px;
	font-size: 12px;
}
#login-b{
	font-size: 16px;
}
.login-li{
	width: 150px;
	font-size: 15px;
	height: 35px;
	line-height: 35px;
	display: none;
	text-align: center;
}

#login:hover .login-li{
	display: block;
}
.login-li:hover{
	transform: scale(1.2);
}
#login  ul{
	background-color: rgba(255,255,255,0.7);
	/* padding-left: 10px; */
	margin-top: 5px;
	border-radius: 5px;
}

#left-time{
	margin-top: 30px;
	color: #fff;
	z-index: -1;
}
#time2{
	font-size: 35px;
	font-family: 华文新魏;
	margin-left: 10px;
}
#time4{
	font-size: 16px;
	font-family: 华文新魏;
	margin-left: 10px;
}
#left-tq,#wz,#ip,#yiyan,#zt{
	margin-top: 15px;
	padding: 20px 5px 20px 5px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	box-shadow: 5px 5px 10px rgba(100,100,100,0.5);		
	backdrop-filter: blur(3px); 
	border-radius: 10px;
	display:flex;
	z-index: -2;
}
#left-tq:hover,#wz:hover,#ip:hover,#yiyan:hover,#zt:hover{
	transform: scale(0.9);
}
#left-tq > li{
	margin-left: 20px;
	font-size: 17px;
	height: 50px;
	line-height: 50px;
}
#left-tq > img{
	width: 50px;
}
#wz,#ip{
	display: flex;
	padding: 15px 5px 15px 10px;
}
#wz img{
	width: 50px;
	height: 50px;
}
#wz a{
	margin-left: 5px;
	margin-right: 5px;
	color: #FFFFFF;
	white-space:nowrap;
	overflow:hidden;
	
}
#wz #name{
	font-size: 16px;
	font-family: 宋体;
	text-overflow:ellipsis;
}
#wz #jx{
	margin-top: 3px;
	font-size: 13px;
	color: #ccc;
	text-overflow:ellipsis;
	
}

#ip > img{
	width: 40px;
	height: 40px;
}
#ip ul{
	margin-left: 10px;
	line-height: 20px;
	font-size: 16px;
	font-family: 宋体;
	color: #eee;
}
#yiyan{
	padding: 15px;
	display: block;
	font-size: 13px;
}
#zt{
	
	text-align: center;
}
.zt-ul{
	width: 50%;
	text-align: center;
	font-size: 14px;
	
}
#zt > hr{
	background-color: #888;
}
.zt-li{
	margin-top: 5px;
}
#zt-li{
	font-size: 16px;
	border-bottom:none;
}


.right{
	padding: 30px 5px 10px 30px;
}
#baidu select{
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
	font-size: 16px;
	border: none;
}
#baidu option{
	font-size: 16px;
	background-color: rgba(255,255,255,0.6);
	
}
#baidu form{
	display: flex;
}
#baidu #bd{
    margin: 0 5px 0 5px;
	width: 75%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);
	padding-left: 5px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
	border: none;
}
#baidu #go{
	width: 70px;
	height: 40px;
	left: 40px; 
	font-size: 16px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
	border: none;
}


#dh{
	margin-top: 20px;
	display: flex;
	font-size: 18px;
	
}
#dh1{
	max-width: 150px;
	min-width: 115px;
	margin-left: 2%;
	background-color: rgba(255,255,255,0.4);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
	backdrop-filter: blur(3px); 
	border-radius: 50px;
	padding: 0 10px 0 10px;
	text-align: center;
	color: #003;
}
#dh1:hover{
	background-color: rgba(0,0,0,0.3);
	color: #fff;
}
#dh1-1:hover{
	background-color: rgba(0,0,0,0.3);
	color: #fff;
}

#dh span{
	white-space: nowrap;
	height: 40px;
	line-height: 40px;
	font-size: 19px;
	overflow: hidden;
}

.dh-ul{
	width: 120px;
	text-align: left;
	padding-left: 20px;
	padding: 10px 10px 10px 15px;
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	backdrop-filter: blur(3px); 
}
.dh-ul li{
	height: 40px;
	line-height: 40px;
	border-radius: 10px;
	color: #000000;
	white-space: nowrap;
}
.dh-ul li:hover{
	transform: scale(1.1);
	background-color: rgba(0,0,0,0.3);
	color: #ffffff;
}
#dh1:hover .dh-ul{
	display: block;
}
	

#nav{
	margin-top: 15px;
	/* border: 2px solid #00f; */
}
#nav2 {
	display: flex;
	
}
.type > span{
	color: #eee;
	font-size: 16px;
	
}
#nav1{
	border-radius: 15px;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
}
#nav1:hover{
	background-color: rgba(255,255,255,0.2);
	box-shadow: 3px 3px 3px rgba(100,100,100,0.2);
	color: #eee;
	backdrop-filter: blur(2px);
	/* border: 2px solid #ff0; */
}
#nav2{
	margin-top: 5px;
}
#nav2 a{
	/* display: flex; */
	text-align: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	padding: 5px 10px 5px 10px ;
}
#nav2 a:hover{
	transform: scale(1.2);
}

#nav2 span{
	font-size: 32px;
	line-height: 45px;
	padding: 3px 8px 3px 8px ;
	height: 45px;
	width: 45px;
	border-radius: 10px;
	color: #fff;
	/* background-color: rgba(30,144,255,0.8); */
}
#name{
	margin-top: 5px;
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
}

#bottom{

	clear: both;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #ccc;
	padding: 5px;
	background-color: #484848;
}
#bottom > a{
	color: #ccc;
}

#he-plugin-simple{
    z-index: -1;
}
